<nav>
  <div class="logo"><p>Automotor.Com</p></div>
  <div class="nav_Bar">
    <ul>
      <a href="#">
      <li><p>Automobile </p><p>Electrique</p></li>
      </a>
      <a href="#">
      <li><p>Automobile </p> <p>Essence</p></li>
      </a>
      <a href="#">
      <li> <p>Scooter</p> <p>Electrique</p></li>
      </a>
      <a href="#">
      <li><p>Scooter</p> <p>Essence</p></li>
      </a>
    </ul>
  </div>
  <div class="search_Bar">
    <form action="">
      <input type="sear" placeholder="Rechercher par mot clé">
      <button>Search_Icon</button>
    </form>
  </div>
  <div class="filtre_Bar">
    filter_icon
  </div>
</nav>

<div class="contenair">
  
</div>

<footer>
  <p>Copyrigth karibu Sarl</p>
  <p>Whatspp +237 698 192 918</p>
</footer>